 header{
border-bottom: solid 1px;
 position:fixed;
 top:0px;
width : 100%;
background-color:white;
z-index : 200;
height : 60px;
}
nav{
border : 1px solid;
width : 100%;
height : 300px;
z-index :100;
border-bottom: solid 1px;
}
section{
border : 1px solid;
width : 100%;
height : 1300px;


}

#footer {
border : 1px solid;
	width: 100%;
	height: 115px;
	padding: 33px 0 0 0;
	font-size: 11px;
	display: block;
	margin-top:0px;
}

#footerinner {
border : 1px solid;
	width: 940px;
	margin: 0 0;
	line-height: 14px;
	overflow: hidden;
	display: block;
}

#ftleft {
	float: left;
	display: block;
}

#ftleft ul {
	padding-left: 0px;
}

#ftleft li {
	display: inline;
	font-size: 8pt;
	font-weight: bold;
	color: white;
}

#footer p {
	margin-top: 23px;
	color: white;
	line-height: 16px;
	woer-spacing: -1px;
	display: block;
}

body{width : 1920px; margin : 0 auto}

#location{
border : 1px solid;
width: 500px;
height : 236px;
position : relative;
top :61px ;
left : 60px;
}
#menu{
border : 1px solid;
width: 500px;
height : 238px;

position : relative;
top : -177px;
left : 588px;
}
#price-recommend{
width: 500px;
height : 239px;
position : relative;
top : -418px;
left : 1174px;
border : 1px solid;
}

#restaurant{
border : 1px solid;
width : 78%;
height : 1300px;
display :inline-block; 
position : relative;

}
#right-menu{
width:20%
height : 1000px;
}
#restaurant-1{
width : 360px;
height : 320px;
border : 1px solid;
position : relative;
top : 30px;
left : 60px;
}
#restaurant-2{
width : 360px;
height : 320px;
border : 1px solid;
position : relative;
left:500px;
top : -290px;

}
#restaurant-3{
width : 360px;
height : 320px;
border : 1px solid;
position : relative;
left:940px;
top : -610px;

}
#restaurant-margin{
width : 90%;
height : 400px;
border : 1px solid;
margin-left : auto;
margin-right : auto;

}
#location-bar{
width: 500px;
height : 40px;
border : 1px solid;
position : relative;
text-align : center;

}
#location-li{
width: 500px;
height : 195px;
position : relative;
top : 0px;
}
li{
display:inline-block;
margin-left : 16px;
font-size : 20px;
}
#ul-margin{
padding-left : 0px;
margin-top : 0px;
margin-bottom : 0px;
}
#menu-bar{
width: 500px;
height : 90px;
border : 1px solid;
position : relative;
text-align : center;
}
#price-bar{
width : 500px;
height : 100px;
position : relative;
border : 1px solid;
}
#price-ul{
display:inline-block;
}
#menu-li{
display:inline-block;
margin-left : 30px;
}
#logo-width{
width : 180px;
height : 60px;
margin-left: 20px;

}
#header-text{
width : 600px; height : 30px;  position : fixed; left : 230px; top : 15px
}
#logo-width{
width : 180px;
height : 60px;
margin-left : 20px;
}
#text-width{
    position: relative;
    left: 166px;
    width: 500px;
    height: 25px;
    border: none;
	
}
  @import url(http://fonts.googleapis.com/css?family=Open+Sans);


html { height: 100%; }


.boxes {
  margin: auto;
  padding: 0px;
  background: white;
}


input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 33px;
  margin-bottom: 20px;
  font: 15px/25px 'Open Sans', Arial, sans-serif;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #1e945a;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.boxes li{
display : inline-block;
}

#dd{
width : 500px;
height : 20px;
}
.boxes li{
margin-bottom : 10px;
}
#menu img{
width : 60px;
height : 73px;
}
#menu-ul{

    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 10px;

}
#price-recommend img{
width : 60px;
height : 73px;
}

#recommend-img{

}
#recommend-img img{
width : 180px;
height : 50px;
}
#button-box{
    width: 86px;
    height: 56px;
    border: solid 1px;
    position: relative;
    left: 504px;
    top: -155px;
	 color: #fff;
  background-color: #1e945a;
  border-color: #4cae4c;
  border-radius:5px 5px 5px 5px;
}
#button-box:hover,#button-box.hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
  background-color: #419641;
  
  }
  #button-box:active,  #button-box.active{
  background-color: #419641;
  border-color: #3e8f3e;
  background-image: none;
  }
  #restaurant img{
  width : 360px;
  height : 235px;
}
#restaurant p{
font-size : 20px;
font-weight : bold;
}
#restaurant span{
font-size : 20px;
font-weight : bold;
color : #1e945a;
}
#restaurant ul{
display : inline-block;
    margin: 0 0;
    position: relative;
    left: -55px;
    top: -23px;
}
#section-right{
    width: 30%;
    height: 1300px;
    display :inline-block; 
    position: absolute;
	border : 1px solid;
	left : 1502px;
	top : 299px;
	
}

#con{
width :350px;
height : 166px;
margin : 20px 20px;
border : 1px solid;
#total-body{
width : 100%;
height : 1600px;
border : 1px solid;
}
